addons:
  apt:
    packages:
      - xvfb

before_install:
  ## Install latest version of node
  - nvm install node

install:
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
script:
  - npm install eslint 
  - npm test
